[
Init(
    desc: (
        label: Some("wgpu-terminal-feasibility-device"),
        required_features: "",
        required_limits: (
            maxTextureDimension1D: 2048,
            maxTextureDimension2D: 3840,
            maxTextureDimension3D: 256,
            maxTextureArrayLayers: 256,
            maxBindGroups: 4,
            maxBindGroupsPlusVertexBuffers: 24,
            maxBindingsPerBindGroup: 1000,
            maxDynamicUniformBuffersPerPipelineLayout: 8,
            maxDynamicStorageBuffersPerPipelineLayout: 4,
            maxSampledTexturesPerShaderStage: 16,
            maxSamplersPerShaderStage: 16,
            maxStorageBuffersPerShaderStage: 4,
            maxStorageTexturesPerShaderStage: 4,
            maxUniformBuffersPerShaderStage: 12,
            maxBindingArrayElementsPerShaderStage: 0,
            maxBindingArrayAccelerationStructureElementsPerShaderStage: 0,
            maxBindingArraySamplerElementsPerShaderStage: 0,
            maxUniformBufferBindingSize: 16384,
            maxStorageBufferBindingSize: 134217728,
            maxVertexBuffers: 8,
            maxBufferSize: 268435456,
            maxVertexAttributes: 16,
            maxVertexBufferArrayStride: 2048,
            maxInterStageShaderVariables: 15,
            minUniformBufferOffsetAlignment: 256,
            minStorageBufferOffsetAlignment: 256,
            maxColorAttachments: 4,
            maxColorAttachmentBytesPerSample: 32,
            maxComputeWorkgroupStorageSize: 16352,
            maxComputeInvocationsPerWorkgroup: 256,
            maxComputeWorkgroupSizeX: 256,
            maxComputeWorkgroupSizeY: 256,
            maxComputeWorkgroupSizeZ: 64,
            maxComputeWorkgroupsPerDimension: 65535,
            maxImmediateSize: 0,
            maxNonSamplerBindings: 1000000,
            maxTaskWorkgroupTotalCount: 0,
            maxTaskWorkgroupsPerDimension: 0,
            maxMeshWorkgroupTotalCount: 0,
            maxMeshWorkgroupsPerDimension: 0,
            maxTaskInvocationsPerWorkgroup: 0,
            maxTaskInvocationsPerDimension: 0,
            maxMeshInvocationsPerWorkgroup: 0,
            maxMeshInvocationsPerDimension: 0,
            maxTaskPayloadSize: 0,
            maxMeshOutputVertices: 0,
            maxMeshOutputPrimitives: 0,
            maxMeshOutputLayers: 0,
            maxMeshMultiviewViewCount: 0,
            maxBlasPrimitiveCount: 0,
            maxBlasGeometryCount: 0,
            maxTlasInstanceCount: 0,
            maxAccelerationStructuresPerShaderStage: 0,
            maxBuffersAndAccelerationStructuresPerShaderStage: 24,
            maxMultiviewViewCount: 0,
            maxRayDispatchCount: 0,
            maxRayRecursionDepth: 0,
        ),
        memory_hints: Performance,
        trace: Off,
    ),
    backend: Dx12,
),
CreateTexture(PointerId(2763305906352), (
    label: Some("wgpu-terminal-4k-offscreen"),
    size: (
        width: 3840,
        height: 2160,
        depthOrArrayLayers: 1,
    ),
    mip_level_count: 1,
    sample_count: 1,
    dimension: r#2d,
    format: "rgba8unorm",
    usage: "RENDER_ATTACHMENT",
    view_formats: [],
)),
CreateTextureView(
    id: PointerId(2763294606560),
    parent: PointerId(2763305906352),
    desc: (
        label: None,
        format: None,
        dimension: None,
        usage: None,
        range: (
            aspect: all,
            baseMipLevel: 0,
            mipLevelCount: None,
            baseArrayLayer: 0,
            arrayLayerCount: None,
        ),
    ),
),
Submit(1, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.0,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(2, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.1,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(3, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.2,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(4, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.3,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(5, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.4,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(6, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.5,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(7, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.6,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(8, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.7,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(9, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.8,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(10, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.9,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(11, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 1.0,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(12, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.0,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(13, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.1,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(14, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.2,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(15, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.3,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(16, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.4,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(17, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.5,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(18, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.6,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(19, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.7,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(20, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.8,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(21, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.9,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(22, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 1.0,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(23, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.0,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(24, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.1,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(25, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.2,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(26, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.3,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(27, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.4,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(28, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.5,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(29, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.6,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
Submit(30, [
    RunRenderPass(
        pass: (
            label: Some("wgpu-terminal-4k-pass"),
            commands: [],
            dynamic_offsets: [],
            string_data: [],
            immediates_data: [],
        ),
        color_attachments: [
            Some((
                view: PointerId(2763294606560),
                depth_slice: None,
                resolve_target: None,
                load_op: clear((
                    r: 0.7,
                    g: 0.1,
                    b: 0.2,
                    a: 1.0,
                )),
                store_op: store,
            )),
        ],
        depth_stencil_attachment: None,
        timestamp_writes: None,
        occlusion_query_set: None,
        multiview_mask: None,
    ),
]),
DropTextureView(PointerId(2763294606560)),
DropTexture(PointerId(2763305906352)),
]